In [27]:
# import necessary modules 
# please run this everytime you open it
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import seaborn as sns
import re
import os

In [141]:
# run Validation notebook
%run Validation.ipynb

# Specialists

## Example of get_topic()

In [62]:
a = pd.read_csv("Specialists data/Covid_SourceRelevancev1-2020-10-04T1838-DataHunt.csv")
get_topic(a)

'Quote Source Relevance'

## Example to_reliability()

In [26]:
array = to_reliability("Specialists data", "Covid_SourceRelevancev1-2020-10-04T1838-DataHunt.csv", "T1.Q2")
array[0]

array([nan, nan, nan, 5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 2, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 2, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 5, nan, nan,
       1, 5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 3, nan, 3, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 1, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan], dtype=object)

In [114]:
# load the example data 
relevance = pd.read_csv("Specialists data/Covid_SourceRelevancev1-2020-10-04T1838-DataHunt.csv")
# select certain columns 
cols = ["quiz_taskrun_uuid", "contributor_uuid", "question_label", "answer_label"]
relevance_q2 = relevance_q2.reindex(columns=cols)
relevance_q2.head()

,quiz_taskrun_uuid,contributor_uuid,question_label,answer_label
1,aebae1f3-707a-4145-9fc3-7c5cf79bf0b8,00f548b7-6b63-4b47-828e-8e416b6ca0e2,T1.Q2,T1.Q2.A1
18,fee75365-83d0-4c47-a520-73e0954af82c,e44f5799-6915-45fd-874e-060f6afedcb9,T1.Q2,T1.Q2.A2
40,4ee3886b-6e92-44a5-861f-7ffe2f3ad1df,fed45769-aa61-4b8b-847e-a9c799acce15,T1.Q2,T1.Q2.A2
53,8b229589-f037-4464-85cd-609de66d0612,fb4ae4cc-234b-484a-b541-a8e3a9254a24,T1.Q2,T1.Q2.A1
73,fc945f0d-ecb8-49a2-8e87-90a83efe543e,3bb03f58-5f09-4414-b54e-43a814b9b09a,T1.Q2,T1.Q2.A1

**Construct the reliability matrix, the left column is the contributor_uuid, each unit -> quiz_taskrun_uuid**

In [115]:
df = pd.pivot_table(relevance_q2, values='answer_label', index='contributor_uuid', columns='quiz_taskrun_uuid', aggfunc=select)
# drop nan rows 
df = df.dropna(axis=1, how='all')
df.head(5)

quiz_taskrun_uuid,00279610-b46d-4404-9037-3845373e9b62,0158e65d-c960-4565-96ab-574a5fcb750f,036dcfc5-d989-4d1a-a3ea-dcfe2beafd5c,0408ab23-08c4-44f7-84d0-346001d59e93,0734c61c-0448-461b-8dde-7b6abd8003d8,087e32bc-9701-42ef-835c-5b7ba62ce11d,0945a43f-7780-4628-87c4-67d3b0bd3981,0c0adb65-8241-4890-81eb-7e3bece8f0bc,0d209bb1-1795-44f4-8304-de766e94aade,0f0db5e0-540b-4ab7-9062-35170c03320b,...,fc5b9d46-43e7-4472-a112-23a72620a4e3,fc945f0d-ecb8-49a2-8e87-90a83efe543e,fcfd8244-3230-4ea7-ab49-3e49ab70ade9,fd487eb7-857e-4f14-b42f-ea45e67f7d1c,fd49c6a4-9033-47b1-974a-319ec93be21c,fdfb77fa-196e-4aa4-8d07-949d92a1b25c,fe3278b6-e072-46c2-ada3-3bbd148f13f6,fe552cc8-8090-4538-adf7-d963ff1de5a1,fee75365-83d0-4c47-a520-73e0954af82c,ffd3215a-8fc3-4ac7-a59a-0f9c43be2683
contributor_uuid,,,,,,,,,,,,,,,,,,,,,
00f548b7-6b63-4b47-828e-8e416b6ca0e2,NaN,NaN,NaN,T1.Q2.A5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
06e1eba7-c695-4495-85a7-2fb33ef9412c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0b2ee377-65f2-4ac1-98da-5bc093fee7aa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0cdf31d0-1966-4f69-a0c8-c483788b5256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0e4b8a3e-2714-4b5f-ba10-bb576aaa5cc6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
array = df.to_numpy()
array[0]

array([nan, nan, nan, 'T1.Q2.A5', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q2.A2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q2.A2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q2.A5', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q2.A5',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q2.A5', nan, nan,
       'T1.Q2.A1', 'T1.Q2.A5', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q2.A3', nan,
       'T1.Q2.A3', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q2.A1', nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
      dtype=object)

In [120]:
# iterate through all values in array and convert string to int 
for i in range(array.shape[0]):
    for j in range(array.shape[1]):
        cur = array[i][j]
        # if the current value is a string
        if not pd.isnull(cur):
            array[i][j] = int(array[i][j][-1])

In [121]:
df = pd.DataFrame(array)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,248,249,250,251,252,253,254,255,256,257
0,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
print(round(alpha(reliability_data=df, level_of_measurement='nominal'), 10))

nan

## compute_alpha()

In [142]:
compute_alpha("Specialists data", "Covid_SourceRelevancev1-2020-10-04T1838-DataHunt.csv", "T1.Q2", "nominal", 6)

There are 0 rows where all values are missing
There are 0 cols where all values are missing

,0,1,2,3,4,5,6,7,8,9,...,248,249,250,251,252,253,254,255,256,257
0,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]
[0. 0. 0. 0. 0. 0. 0. 0.]
[[-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]]
[[0. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 1. 1. 1. 1. 1. 1.]
 [1. 1. 0. 1. 1. 1. 1. 1.]
 [1. 1. 1. 0. 1. 1. 1. 1.]
 [1. 1. 1. 1. 0. 1. 1. 1.]
 [1. 1. 1. 1. 1. 0. 1. 1.]
 [1. 1. 1. 1. 1. 1. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 0.]]
[[-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]
 [-0. -0. -0. -0. -0. -0. -0. -0.]]

C:\Users\thefi\Desktop\PE-Validation-Fall-20\krippendorff.py:283: RuntimeWarning: invalid value encountered in double_scalars

nan

In [135]:
compute_alpha("Specialists data", "Covid_Evidencev1-2020-10-04T1836-DataHunt.csv", "T1.Q6", "nominal", 6)

There are 0 rows where all values are missing
There are 0 cols where all values are missing

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
3,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

[0. 0. 0.]
[[-0. -0. -0.]
 [-0. -0. -0.]
 [-0. -0. -0.]]
[[0. 1. 1.]
 [1. 0. 1.]
 [1. 1. 0.]]
[[-0. -0. -0.]
 [-0. -0. -0.]
 [-0. -0. -0.]]

C:\Users\thefi\Desktop\PE-Validation-Fall-20\krippendorff.py:282: RuntimeWarning: invalid value encountered in double_scalars

nan

In [112]:
compute_alpha("Specialists data", "Covid_Probabilityv1-2020-10-04T1837-DataHunt.csv", "T1.Q6", "nominal", 6)

There are 0 rows where all values are missing
There are 0 cols where all values are missing
[array(['T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, array([], dtype=object), nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A3', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, array([], dtype=object), 'T1.Q6.A2', nan, nan, nan, nan,
       nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, 'T1.Q6.A1',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, 'T1.Q6.A1', 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, array([], dtype=object), nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       array([], dtype=object), nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A2',
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, array([], dtype=object), nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, nan, nan, nan, 'T1.Q6.A2', 'T1.Q6.A1', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       array([], dtype=object), nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, 'T1.Q6.A1', 'T1.Q6.A1', nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, array([], dtype=object), nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A3', nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, array([], dtype=object), nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, array([], dtype=object), nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, 'T1.Q6.A1', nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A2',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, 'T1.Q6.A1', nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, 'T1.Q6.A1'], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A2', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1',
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       array([], dtype=object), nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, 'T1.Q6.A1', nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan,
       nan, nan, nan], dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A2', nan, nan, nan, nan, nan, nan, nan, nan,
       array([], dtype=object), array([], dtype=object), nan, nan, nan,
       nan, nan, nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, 'T1.Q6.A2', nan, nan, nan],
      dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A2',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'T1.Q6.A1', nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, 'T1.Q6.A1', nan, nan, nan, nan, array([], dtype=object),
       'T1.Q6.A1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, array([], dtype=object), 'T1.Q6.A1', nan, nan, 'T1.Q6.A2',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
      dtype=object), array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,

C:\Users\thefi\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  # Remove the CWD from sys.path while we load stuff.

nan

In [139]:
a = [[np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 4, 1, 2, np.nan, np.nan, np.nan],
     [1, 2, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 3],
     [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
     [3, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]]

In [145]:
print(round(alpha(reliability_data=a, level_of_measurement='nominal'), 10))

[[0. 0. 1. 0.]
 [0. 0. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 0. 0.]]
[1. 0. 1. 0.]
[[0. 0. 1. 0.]
 [0. 0. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[0. 1. 1. 1.]
 [1. 0. 1. 1.]
 [1. 1. 0. 1.]
 [1. 1. 1. 0.]]
[[0. 0. 1. 0.]
 [0. 0. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 0. 0.]]
0.0

# Triager Tasks

## Example of Triager_split()

In [46]:
triager_split("Triager data", "Triager output")

Triager Tranformation Done! Ready to be imported to uAlpha!

## Example of resolving overlap

In [41]:
a = pd.read_csv("example.csv")
a.drop(a.columns[0], axis=1, inplace=True)
a

,contributor_uuid,topic_name,start_pos,blank,end_pos,article_text_length,article_number,created,cumulative,start_pos_adjusted,end_pos_adjusted
0,aac18e,2,136,NaN,287,1870,100054,2020-03-18 00:15:42.364545,5755,4021,4172
1,aac18e,2,563,NaN,776,1870,100054,2020-03-18 00:15:42.364545,5755,4448,4661
2,aac18e,2,651,NaN,667,1870,100054,2020-03-18 00:15:42.364545,5755,4536,4552

In [42]:
a = resolve_overlapping(a)
a

,contributor_uuid,topic_name,start_pos,blank,end_pos,article_text_length,article_number,created,cumulative,start_pos_adjusted,end_pos_adjusted
0,aac18e,2,136,NaN,287,1870,100054,2020-03-18 00:15:42.364545,5755,4021,4172
1,aac18e,2,563,NaN,776,1870,100054,2020-03-18 00:15:42.364545,5755,4448,4661

In [45]:
detect_overlapping("Triager output", "Covid-Triager-Arguments.csv")

## Example of removing a row

In [43]:
a = pd.DataFrame(index=np.array([23, 24, 25, 26, 27]), data={"first": [1, 2, 3, 4, 5]})
a

    first
23      1
24      2
25      3
26      4
27      5

In [44]:
a.drop(25, inplace=True)
a

    first
23      1
24      2
26      4
27      5